@font-face { font-family: 'futuris'; src: url("../fonts/futuris.ttf"); }

/*styles for layouts*/
.cols { overflow: hidden; }

.col-1 { float: left; width: 225px; }

.col-2 { float: right; width: 225px; }
