.logo a { font: 0/0 a; text-shadow: none; color: transparent; }

@font-face { font-family: 'futuris'; src: url("../fonts/futuris.ttf"); }

* { margin: 0; padding: 0; -webkit-text-size-adjust: none; }

html, body { height: 100%; }

body { overflow: hidden; -webkit-transform: translate3d(0, 0, 0); -weblit-backface-visibility: hidden; font-family: 'futuris', Arial, sans-serif; font-weight: normal; font-size: 11px; }

header, footer, nav, section, aside { display: block; }

a img, fieldset { border: none; }

a { color: #37559a; text-decoration: none; }

li { list-style: none; }

input, textarea, button { border: none; outline: none; font-family: Arial,sans-serif; }

button { background: none; line-height: 1; cursor: pointer; }

table { border-spacing: 0; border-collapse: collapse; }

.header { position: absolute; top: 0; left: 0; width: 100%; height: 70px; background: #36312c; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM2MzEyYyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNGI0NDNkIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzYzMTJjIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #36312c), color-stop(50%, #4b443d), color-stop(100%, #36312c)); background-image: -webkit-linear-gradient(left, #36312c, #4b443d 50%, #36312c 100%); background-image: -moz-linear-gradient(left, #36312c, #4b443d 50%, #36312c 100%); background-image: -o-linear-gradient(left, #36312c, #4b443d 50%, #36312c 100%); background-image: linear-gradient(left, #36312c, #4b443d 50%, #36312c 100%); overflow: hidden; z-index: 10; }

.logo { position: absolute; top: 0; left: 50%; margin-left: -130px; background: url('../img/icons-s19bf62a649.png') 0 0 no-repeat; width: 260px; height: 70px; }
.logo a { display: block; width: 260px; height: 70px; }

.nav { position: absolute; top: 70px; left: 0; width: 100%; height: 31px; background: url(../img/icons/nav-bg.png) repeat-x; -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px; -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px; box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px; text-align: center; overflow: hidden; z-index: 10; }
.nav ul { text-align: center; }
.nav li { display: inline-block; }
.nav li a { display: block; height: 31px; padding: 0 15px; line-height: 31px; font-size: 14px; color: #c3c2b7; text-transform: uppercase; }
.nav li a:hover { color: #f9f6e6; }
.nav li a.active { background: #f9f6e6; color: #4b412c; cursor: default; }
.nav .nav__select { float: left; height: 31px; line-height: 31px; margin-left: 20px; font-size: 11px; text-transform: uppercase; color: #c3c2b7; }
.nav .nav__select span { position: relative; padding: 0 8px 0 7px; text-decoration: underline; cursor: pointer; }
.nav .nav__select i { position: absolute; top: 5px; right: 0; background: url('../img/icons-s19bf62a649.png') 0 -456px no-repeat; width: 5px; height: 4px; }
.nav .nav__whats-new { float: right; }
.nav .nav__whats-new a { background: #e3dbb2; color: #000; }
.nav .nav__whats-new a:hover { background: #f9f6e6; color: #000; }

.footer { position: absolute; left: 0; bottom: 0; width: 100%; height: 20px; background: url(../img/icons/nav-bg.png) repeat-x; -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px; -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px; box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px; z-index: 10; }
.footer ul { overflow: hidden; text-align: center; }
.footer li { display: inline-block; }
.footer a, .footer button { position: relative; display: block; height: 20px; padding-left: 20px; line-height: 20px; font-size: 11px; color: #c3c2b7; text-transform: uppercase; }
.footer a:hover, .footer button:hover { color: #f9f6e6; }
.footer i { position: absolute; top: 2px; left: 0; }

.footer__play { float: left; margin: 0 20px 0 8px; }
.footer__play i { top: 1px; background: url('../img/icons-s19bf62a649.png') 0 -430px no-repeat; width: 16px; height: 16px; }
.footer__play:hover i { background: url('../img/icons-s19bf62a649.png') 0 -404px no-repeat; width: 16px; height: 16px; }

.footer__tw { margin: 0 10px; }
.footer__tw i { left: 2px; background: url('../img/icons-s19bf62a649.png') 0 -158px no-repeat; width: 16px; height: 16px; }
.footer__tw:hover i { background: url('../img/icons-s19bf62a649.png') 0 -132px no-repeat; width: 16px; height: 16px; }

.footer__fb { margin: 0 10px; }
.footer__fb i { background: url('../img/icons-s19bf62a649.png') 0 -378px no-repeat; width: 16px; height: 16px; }
.footer__fb:hover i { background: url('../img/icons-s19bf62a649.png') 0 -352px no-repeat; width: 16px; height: 16px; }

.footer__yt { margin: 0 10px; }
.footer__yt i { background: url('../img/icons-s19bf62a649.png') 0 -184px no-repeat; width: 16px; height: 16px; }
.footer__yt:hover i { background: url('../img/icons-s19bf62a649.png') 0 -210px no-repeat; width: 16px; height: 16px; }

.footer__sitemap { float: right; margin: 0 9px 0 20px; }
.footer__sitemap a { padding: 0 26px 0 0; }
.footer__sitemap i { left: auto; right: 0; background: url('../img/icons-s19bf62a649.png') 0 -300px no-repeat; width: 16px; height: 16px; }
.footer__sitemap:hover i { background: url('../img/icons-s19bf62a649.png') 0 -326px no-repeat; width: 16px; height: 16px; }

.logo a { font: 0/0 a; text-shadow: none; color: transparent; }

@font-face { font-family: 'futuris'; src: url("../fonts/futuris.ttf"); }

/*styles for layouts*/
.cols { margin: 10px 25px; background: url(../img/bg.jpg); overflow: hidden; }

.col-1 { float: left; width: 190px; margin-right: 15px; }

.col-2 { float: left; width: 580px; padding: 0 10px; }

.col-3 { float: right; width: 190px; }

.logo a { font: 0/0 a; text-shadow: none; color: transparent; }

@font-face { font-family: 'futuris'; src: url("../fonts/futuris.ttf"); }

.cover { position: absolute; top: 101px; left: 0; right: 0; bottom: 20px; }
.cover li { float: left; position: relative; background-size: cover; background-repeat: no-repeat; background-position: 0 0; }

.cover__detail { position: absolute; top: 50%; left: 50%; text-align: center; }

.cover__detail_dark { color: #4b412c; }
.cover__detail_dark .cover__title:before { background: url('../img/icons-s19bf62a649.png') 0 -80px no-repeat; width: 91px; height: 16px; }
.cover__detail_dark .cover__made-title span:before { background: url('../img/icons-s19bf62a649.png') 0 -284px no-repeat; width: 16px; height: 6px; }
.cover__detail_dark .cover__made-title span:after { background: url('../img/icons-s19bf62a649.png') 0 -252px no-repeat; width: 16px; height: 6px; }

.cover__detail_light { color: #f9f6e6; }
.cover__detail_light .cover__title:before { background: url('../img/icons-s19bf62a649.png') 0 -106px no-repeat; width: 91px; height: 16px; }
.cover__detail_light .cover__made-title span:before { background: url('../img/icons-s19bf62a649.png') 0 -268px no-repeat; width: 16px; height: 6px; }
.cover__detail_light .cover__made-title span:after { background: url('../img/icons-s19bf62a649.png') 0 -236px no-repeat; width: 16px; height: 6px; }

.cover__title, .cover__date { font-size: 40px; text-transform: uppercase; }

.cover__title { position: relative; padding-top: 33px; }
.cover__title:before { content: ""; position: absolute; top: 0; left: 50%; margin-left: -45px; }

.cover__date { margin-bottom: 27px; }

.cover__made-title { margin-bottom: 13px; }
.cover__made-title span { position: relative; font-size: 14px; }
.cover__made-title span:before, .cover__made-title span:after { content: ""; position: absolute; top: 5px; }
.cover__made-title span:before { left: -24px; }
.cover__made-title span:after { right: -24px; }

.cover__made-person { font-size: 18px; }
.cover__made-person span { margin: 0 5px; font-size: 11px; }

.cover-nav button { position: absolute; top: 200px; width: 50px; height: 50px; background: red; z-index: 100; }

.cover-nav__prev { left: 50px; }

.cover-nav__next { right: 50px; }

.logo a { font: 0/0 a; text-shadow: none; color: transparent; }

@font-face { font-family: 'futuris'; src: url("../fonts/futuris.ttf"); }
