.logo a, .sitemap__logo a { font: 0/0 a; text-shadow: none; color: transparent; }

@font-face { font-family: 'Futuris'; src: url("../fonts/Futuris-Cyrillic.woff"); }

* { margin: 0; padding: 0; }

html, body { height: 100%; }

body { background: #f9f6e6; font-family: Arial, Tahoma, sans-serif; font-weight: normal; font-size: 11px; }

header, footer, nav, section, aside { display: block; }

a img, fieldset { border: none; }

a { color: #37559a; text-decoration: none; }

li { list-style: none; }

input, textarea, button { border: none; outline: none; font-family: Arial,sans-serif; }

button { background: none; line-height: 1; cursor: pointer; }

table { border-spacing: 0; border-collapse: collapse; }

.h2 { font-family: 'Futuris', Arial, sans-serif; font-size: 18px; }

.h3 { font-family: 'Futuris', Arial, sans-serif; font-size: 13px; }

.clr { clear: both; }

.hr { height: 2px; background: url(../img/icons/hr.png); }

.hr_mod { background: url(../img/icons/hr1.png); }

.btn { display: inline-block; height: 21px; padding: 0 10px; border: 1px solid #4b412c; background: none; -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px; -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px; box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px; color: #4b412c; font-size: 11px; text-transform: uppercase; white-space: nowrap; cursor: pointer; }
.btn:hover { border-color: #8e8165; color: #8e8165; }
.btn:active { border-color: #4b412c; background: #4b412c; color: #f9f6e6; }

.checkbox { position: relative; height: 18px; padding-left: 27px; margin-bottom: 15px; line-height: 18px; font-size: 11px; color: #888780; }
.checkbox a { text-decoration: underline; color: #888780; }
.checkbox input[type="checkbox"], .checkbox i { position: absolute; top: 0; left: 7px; width: 14px; height: 17px; }
.checkbox input[type="checkbox"] { z-index: 10; opacity: 0; }
.checkbox input[type="checkbox"]:checked + i { background: url('../img/icons-s74d18a88fe.png') 0 -626px no-repeat; width: 14px; height: 16px; }
.checkbox i { background: url('../img/icons-s74d18a88fe.png') 0 -1014px no-repeat; width: 14px; height: 16px; }

.wrap { position: relative; margin-bottom: -20px; min-height: 100%; height: auto !important; height: 100%; }

.push { height: 20px; clear: both; }

.container { width: 960px; margin: 0 auto; }

.header { position: relative; width: 100%; height: 70px; background: #36312c; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM2MzEyYyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNGI0NDNkIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzYzMTJjIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #36312c), color-stop(50%, #4b443d), color-stop(100%, #36312c)); background-image: -webkit-linear-gradient(left, #36312c, #4b443d 50%, #36312c 100%); background-image: -moz-linear-gradient(left, #36312c, #4b443d 50%, #36312c 100%); background-image: -o-linear-gradient(left, #36312c, #4b443d 50%, #36312c 100%); background-image: linear-gradient(left, #36312c, #4b443d 50%, #36312c 100%); -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px; -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px; box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px; overflow: hidden; z-index: 150; }

.header_mod { position: fixed; }

.logo { position: absolute; top: 0; left: 50%; margin-left: -130px; background: url('../img/icons-s74d18a88fe.png') 0 -130px no-repeat; width: 260px; height: 70px; }
.logo a { display: block; width: 260px; height: 70px; }

.nav-btn { position: absolute; top: 27px; left: 20px; padding-right: 8px; font-family: 'Futuris', Arial, sans-serif; font-size: 11px; color: #c3c2b7; text-transform: uppercase; text-decoration: underline; }
.nav-btn:after { content: ""; position: absolute; top: 3px; right: 0; background: url('../img/icons-s74d18a88fe.png') 0 -1482px no-repeat; width: 5px; height: 4px; }

.nav-btn_open:after { background: url('../img/icons-s74d18a88fe.png') 0 -1496px no-repeat; width: 5px; height: 4px; }

.nav { position: relative; width: 100%; height: 31px; background: url(../img/icons/nav-bg.png); -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px; -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px; box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px; text-align: center; text-transform: uppercase; z-index: 100; }

.nav__list { height: 31px; text-align: center; overflow: hidden; }
.nav__list li { display: inline-block; }
.nav__list li a { display: block; height: 31px; padding: 0 15px; line-height: 31px; font-family: 'Futuris', Arial, sans-serif; font-size: 14px; color: #c3c2b7; }
.nav__list li a:hover { color: #f9f6e6; }
.nav__list li a.active { background: #f9f6e6; color: #4b412c; cursor: default; }

.nav_mod { display: none; position: fixed; top: 70px; }

.lang { position: relative; float: left; height: 31px; margin-left: 20px; font-family: 'Futuris', Arial, sans-serif; font-size: 11px; color: #c3c2b7; }

.lang__title { float: left; height: 31px; line-height: 31px; }

.lang__list { float: left; padding: 10px 10px 0 10px; margin-left: -5px; }
.lang__list span { position: relative; display: block; padding-bottom: 10px; text-decoration: underline; text-align: left; cursor: pointer; }
.lang__list span:after { content: ''; position: absolute; top: 3px; right: -7px; background: url('../img/icons-s74d18a88fe.png') 0 -1482px no-repeat; width: 5px; height: 4px; }
.lang__list span.open:after { background: url('../img/icons-s74d18a88fe.png') 0 -1496px no-repeat; width: 5px; height: 4px; }
.lang__list ul { display: none; }
.lang__list li { margin-bottom: 10px; text-align: left; cursor: pointer; }
.lang__list.open { background: #e3dbb2; color: #4b412c; border: 1px solid #4b412c; }
.lang__list.open span { text-decoration: none; cursor: default; }
.lang__list.open span:after { display: none; }
.lang__list.open li:hover { text-decoration: underline; }

.nav__new { float: right; height: 31px; line-height: 31px; padding: 0 15px; background: #e3dbb2; font-family: 'Futuris', Arial, sans-serif; font-size: 14px; text-transform: uppercase; color: #000; }

.nav__new_is { -webkit-animation: flashing 2s linear infinite; -moz-animation: flashing 2s linear infinite; -ms-animation: flashing 2s linear infinite; -o-animation: flashing 2s linear infinite; animation: flashing 2s linear infinite; }

@-moz-keyframes flashing { 0% { background: #fff; color: #000; }
  50% { background: #808080; color: #000; }
  100% { background: #fff; color: #000; } }

@-webkit-keyframes flashing { 0% { background: #fff; color: #000; }
  50% { background: #808080; color: #000; }
  100% { background: #fff; color: #000; } }

@-o-keyframes flashing { 0% { background: #fff; color: #000; }
  50% { background: #808080; color: #000; }
  100% { background: #fff; color: #000; } }

@-ms-keyframes flashing { 0% { background: #fff; color: #000; }
  50% { background: #808080; color: #000; }
  100% { background: #fff; color: #000; } }

@keyframes flashing { 0% { background: #fff; color: #000; }
  50% { background: #808080; color: #000; }
  100% { background: #fff; color: #000; } }

.footer { position: relative; width: 100%; height: 20px; background: url(../img/icons/nav-bg.png); -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px; -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px; box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px; z-index: 10; }
.footer ul { text-align: center; }
.footer li { display: inline-block; }
.footer a, .footer button { position: relative; display: block; height: 20px; padding-left: 20px; line-height: 22px; font-family: 'Futuris', Arial, sans-serif; font-size: 11px; color: #c3c2b7; text-transform: uppercase; }
.footer a:hover, .footer button:hover { color: #f9f6e6; }
.footer i { position: absolute; top: 2px; left: 0; }

.footer__play { float: left; margin: 0 20px 0 8px; }
.footer__play button { font-family: 'Futuris', Arial, sans-serif; }
.footer__play i { top: 1px; background: url('../img/icons-s74d18a88fe.png') 0 -1426px no-repeat; width: 16px; height: 16px; }
.footer__play:hover i { background: url('../img/icons-s74d18a88fe.png') 0 -1400px no-repeat; width: 16px; height: 16px; }

.footer__tw { margin: 0 10px; }
.footer__tw i { left: 2px; background: url('../img/icons-s74d18a88fe.png') 0 -988px no-repeat; width: 16px; height: 16px; }
.footer__tw:hover i { background: url('../img/icons-s74d18a88fe.png') 0 -931px no-repeat; width: 16px; height: 16px; }

.footer__fb { margin: 0 10px; }
.footer__fb i { background: url('../img/icons-s74d18a88fe.png') 0 -1374px no-repeat; width: 16px; height: 16px; }
.footer__fb:hover i { background: url('../img/icons-s74d18a88fe.png') 0 -1348px no-repeat; width: 16px; height: 16px; }

.footer__yt { margin: 0 10px; }
.footer__yt i { background: url('../img/icons-s74d18a88fe.png') 0 -1158px no-repeat; width: 16px; height: 16px; }
.footer__yt:hover i { background: url('../img/icons-s74d18a88fe.png') 0 -1184px no-repeat; width: 16px; height: 16px; }

.footer__sitemap { float: right; margin: 0 9px 0 20px; }
.footer__sitemap a { padding: 0 26px 0 0; }
.footer__sitemap i { left: auto; right: 0; background: url('../img/icons-s74d18a88fe.png') 0 -1274px no-repeat; width: 16px; height: 16px; }
.footer__sitemap:hover i { background: url('../img/icons-s74d18a88fe.png') 0 -1300px no-repeat; width: 16px; height: 16px; }

.share { float: right; margin: 9px 6px 0 0; }
.share li { float: left; height: 21px; margin-right: 6px; line-height: 21px; font-size: 11px; text-transform: uppercase; color: #888780; }
.share a { display: block; }

.share__fb { background: url('../img/icons-s74d18a88fe.png') 0 -370px no-repeat; width: 19px; height: 21px; }
.share__fb:hover { background: url('../img/icons-s74d18a88fe.png') 0 -339px no-repeat; width: 19px; height: 21px; }
.share__fb:active { background: url('../img/icons-s74d18a88fe.png') 0 -957px no-repeat; width: 19px; height: 21px; }

.share__vk { background: url('../img/icons-s74d18a88fe.png') 0 -308px no-repeat; width: 19px; height: 21px; }
.share__vk:hover { background: url('../img/icons-s74d18a88fe.png') 0 -595px no-repeat; width: 19px; height: 21px; }
.share__vk:active { background: url('../img/icons-s74d18a88fe.png') 0 -807px no-repeat; width: 19px; height: 21px; }

.share__tw { background: url('../img/icons-s74d18a88fe.png') 0 -277px no-repeat; width: 19px; height: 21px; }
.share__tw:hover { background: url('../img/icons-s74d18a88fe.png') 0 -564px no-repeat; width: 19px; height: 21px; }
.share__tw:active { background: url('../img/icons-s74d18a88fe.png') 0 -745px no-repeat; width: 19px; height: 21px; }

.logo a, .sitemap__logo a { font: 0/0 a; text-shadow: none; color: transparent; }

@font-face { font-family: 'Futuris'; src: url("../fonts/Futuris-Cyrillic.woff"); }

/*styles for layouts*/
.columns { -webkit-column-width: 225px; -webkit-column-gap: 20px; -moz-column-width: 225px; -moz-column-gap: 20px; column-count: 225px; column-gap: 20px; text-align: justify; }

.logo a, .sitemap__logo a { font: 0/0 a; text-shadow: none; color: transparent; }

@font-face { font-family: 'Futuris'; src: url("../fonts/Futuris-Cyrillic.woff"); }

.cover { position: relative; }
.cover li { float: left; position: relative; background-size: cover; background-repeat: no-repeat; background-position: 0 0; }

.cover__video { position: absolute; left: 100px; bottom: 70px; border: 2px solid #fff; -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 5px 10px; -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 5px 10px; box-shadow: rgba(0, 0, 0, 0.4) 0 5px 10px; z-index: 10; }
.cover__video img { display: block; }
.cover__video i { position: absolute; top: 50%; left: 50%; margin: -22px 0 0 -22px; background: url('../img/icons-s74d18a88fe.png') 0 -415px no-repeat; width: 44px; height: 44px; }

.cover__detail { position: absolute; top: 50%; left: 50%; text-align: center; font-family: 'Futuris', Arial, sans-serif; }

.cover__detail_dark { color: #4b412c; }
.cover__detail_dark .cover__title:before { background: url('../img/icons-s74d18a88fe.png') 0 -512px no-repeat; width: 91px; height: 16px; }
.cover__detail_dark .cover__made-title span:before { background: url('../img/icons-s74d18a88fe.png') 0 -1258px no-repeat; width: 16px; height: 6px; }
.cover__detail_dark .cover__made-title span:after { background: url('../img/icons-s74d18a88fe.png') 0 -1226px no-repeat; width: 16px; height: 6px; }

.cover__detail_light { color: #f9f6e6; }
.cover__detail_light .cover__title:before { background: url('../img/icons-s74d18a88fe.png') 0 -538px no-repeat; width: 91px; height: 16px; }
.cover__detail_light .cover__made-title span:before { background: url('../img/icons-s74d18a88fe.png') 0 -1242px no-repeat; width: 16px; height: 6px; }
.cover__detail_light .cover__made-title span:after { background: url('../img/icons-s74d18a88fe.png') 0 -1210px no-repeat; width: 16px; height: 6px; }

.cover__title, .cover__date { font-size: 40px; text-transform: uppercase; }

.cover__title { position: relative; padding-top: 33px; }
.cover__title:before { content: ""; position: absolute; top: 0; left: 50%; margin-left: -45px; }

.cover__date { margin-bottom: 27px; }

.cover__made-title { margin-bottom: 13px; }
.cover__made-title span { position: relative; font-size: 14px; }
.cover__made-title span:before, .cover__made-title span:after { content: ""; position: absolute; top: 5px; }
.cover__made-title span:before { left: -24px; }
.cover__made-title span:after { right: -24px; }

.cover__made-person { font-size: 18px; }
.cover__made-person span { margin: 0 5px; font-size: 11px; }

.logo a, .sitemap__logo a { font: 0/0 a; text-shadow: none; color: transparent; }

@font-face { font-family: 'Futuris'; src: url("../fonts/Futuris-Cyrillic.woff"); }

.news { display: none; position: absolute; top: 101px; left: 0; background: #e3dbb2; overflow: hidden; z-index: 50; }

.news__wrap { position: relative; padding: 20px 0 0 10px; }

.news__close { position: absolute; top: 20px; right: 5px; background: url('../img/icons-s74d18a88fe.png') 0 -1326px no-repeat; width: 12px; height: 12px; z-index: 10; }

.news__list { position: relative; overflow: auto; outline: none; }
.news__list li { display: inline-block; width: 230px; margin: 0 20px 20px 0; font-size: 0; }
.news__list li .hr { margin-top: 20px; }

.news__pic img { display: block; }
.news__pic img:hover { -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 4px 14px; -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 4px 14px; box-shadow: rgba(0, 0, 0, 0.4) 0 4px 14px; }

.news__cat { margin: 5px 0 2px 0; }
.news__cat a { font-size: 12px; color: #888780; text-transform: uppercase; }

.news__desc a { font-size: 18px; color: #000; text-transform: uppercase; }
.news__desc p { padding: 5px 0 0 0; font-size: 12px; color: #5b5b56; }

.jspContainer { padding-left: 10px; overflow: hidden; position: relative; }

.jspPane { position: absolute; }

.jspVerticalBar { position: absolute; top: 17px; right: 15px; width: 12px; height: 100%; background: red; }

.jspCap { display: none; }

.jspTrack { background: #d5cda8; position: relative; }

.jspDrag { background: #b9b192; position: relative; top: 0; left: 0; cursor: pointer; }

.jspDragTop { position: absolute; top: 50%; left: 2px; margin-top: -2px; background: url('../img/icons-s74d18a88fe.png') 0 -1567px no-repeat; width: 8px; height: 5px; }

.tabs { padding-top: 50px; }

.tabs__menu { padding-bottom: 7px; text-align: center; font-size: 0; }
.tabs__menu li { display: inline-block; height: 21px; line-height: 21px; padding: 0 13px; border: 1px solid #f9f6e6; -webkit-border-radius: 1px; -moz-border-radius: 1px; -ms-border-radius: 1px; -o-border-radius: 1px; border-radius: 1px; font-size: 11px; color: #4b412c; text-transform: uppercase; cursor: pointer; }
.tabs__menu li.active { border-color: #4b412c; cursor: default; }

.tabs__nav { padding: 15px 0 50px 0; overflow: hidden; }

.tabs__prev, .tabs__next { position: relative; cursor: pointer; font-size: 11px; text-transform: uppercase; color: #888780; }
.tabs__prev:hover, .tabs__next:hover { text-decoration: underline; }
.tabs__prev:active, .tabs__next:active { color: #000; text-decoration: none; }
.tabs__prev:before, .tabs__prev:after, .tabs__next:before, .tabs__next:after { content: ""; position: absolute; top: 2px; }

.tabs__prev { float: left; padding-left: 18px; }
.tabs__prev:after { left: 9px; background: url('../img/icons-s74d18a88fe.png') 0 -1510px no-repeat; width: 4px; height: 5px; }

.tabs__next { float: right; padding-right: 18px; }
.tabs__next:before { right: 9px; background: url('../img/icons-s74d18a88fe.png') 0 -1452px no-repeat; width: 4px; height: 5px; }

.tabs__adress { float: left; width: 960px; }
.tabs__adress span { display: block; text-align: center; font-size: 13px; color: #000; }

.tabs__map { width: 720px; margin: 10px 0 0 119px; border: 1px solid #c3c3bf; }
.tabs__map img { display: block; }

.tabs__phones { float: left; padding-left: 110px; }
.tabs__phones p { font-size: 13px; font-weight: bold; }
.tabs__phones img { margin: 15px 0 10px -40px; }
.tabs__phones dl { text-transform: uppercase; }
.tabs__phones dt { height: 25px; line-height: 25px; cursor: pointer; }
.tabs__phones dt.active span:after { top: 6px; background: url('../img/icons-s74d18a88fe.png') 0 -1525px no-repeat; width: 5px; height: 4px; }
.tabs__phones span { position: relative; padding-right: 10px; font-size: 13px; font-weight: bold; color: #4b412c; }
.tabs__phones span:after { content: ''; position: absolute; top: 5px; right: 0; background: url('../img/icons-s74d18a88fe.png') 0 -1467px no-repeat; width: 4px; height: 5px; }
.tabs__phones dd { display: none; }
.tabs__phones dd, .tabs__phones a { font-family: 'Futuris', Arial, sans-serif; font-size: 24px; color: #000; font-weight: bold; }

.tabs__content { position: relative; width: 960px; height: 387px; margin: 15px 0; overflow: hidden; color: #000; }
.tabs__content .h2 { margin: 25px 0 20px 0; }
.tabs__content .h2:first-child { margin: 0 0 20px 0; }
.tabs__content p { margin-bottom: 5px; font-size: 13px; line-height: 1.3; }

.tabs__inner { width: 50000px; }
.tabs__inner .columns { float: left; height: 387px; }

.tabs__feedback { float: left; width: 960px; }
.tabs__feedback form { width: 342px; margin-left: 309px; }
.tabs__feedback form p { padding: 0 0 11px 9px; font-size: 13px; color: #000; }

.tabs__contacts { float: left; width: 960px; }
.tabs__contacts .tabs__feedback { float: right; width: auto; padding: 0 68px 0 70px; border-left: 1px solid #ccc8bb; }
.tabs__contacts .tabs__feedback form { margin: 0; }

.tabs__pic { float: left; margin: 0 20px; }

.tabs__btn { text-align: center; }

.txt-field, .txt-area { width: 324px; height: 20px; padding: 0 8px; margin-bottom: 6px; border: 1px solid #c0beb3; background: #fff; font-size: 11px; }
.txt-field::-webkit-input-placeholder, .txt-area::-webkit-input-placeholder { color: #888780; }
.txt-field:-moz-placeholder, .txt-area:-moz-placeholder { color: #888780; }

.txt-area { height: 95px; padding: 4px 8px; }

.txt-field_select { position: relative; width: 340px; padding: 0; line-height: 20px; }
.txt-field_select span { position: relative; display: block; padding: 0 8px; font-size: 11px; color: #888780; cursor: pointer; }
.txt-field_select span:after { content: ''; position: absolute; top: 8px; right: 7px; background: url('../img/icons-s74d18a88fe.png') 0 -1525px no-repeat; width: 5px; height: 4px; }
.txt-field_select span.open:after { background: url('../img/icons-s74d18a88fe.png') 0 -1539px no-repeat; width: 5px; height: 4px; }
.txt-field_select ul { display: none; position: absolute; top: 20px; left: -1px; width: 340px; border: 1px solid #c0beb3; border-width: 0 1px 1px 1px; background: #fff; font-size: 11px; }
.txt-field_select li { padding: 0 8px; cursor: pointer; color: #888780; }
.txt-field_select li:hover { background: #e3dbb2; color: #4b412c; }

.director { overflow: hidden; }
.director img { float: left; margin-right: 20px; }
.director p { font-size: 13px; text-align: justify; color: #000; }

.director__title { margin-bottom: 15px; font-family: 'Futuris', Arial, sans-serif; color: #4b412c; }
.director__title .h1 { padding: 17px 0 5px 0; font-size: 40px; }
.director__title span { font-size: 18px; }

.article { padding-top: 70px; }

.article__pic { background: url(../img/icons/article-bg.png); }
.article__pic img { display: block; }
.article__pic .container { position: relative; }

.article__scroll { position: absolute; right: -100px; bottom: 25px; font-family: 'Futuris', Arial, sans-serif; font-size: 11px; color: #c3c2b7; text-transform: uppercase; }
.article__scroll:after { content: ""; position: absolute; left: 50%; bottom: -7px; margin-left: -3px; background: url('../img/icons-s74d18a88fe.png') 0 -1482px no-repeat; width: 5px; height: 4px; }

.article__desc { position: absolute; top: 185px; left: 100px; width: 760px; text-align: center; color: #fff; }

.article__date { position: relative; margin-bottom: 10px; font-size: 18px; }
.article__date:before { content: ""; position: absolute; top: -42px; left: 50%; margin-left: -45px; background: url('../img/icons-s74d18a88fe.png') 0 -538px no-repeat; width: 91px; height: 16px; }

.article__title { font-family: 'Futuris', Arial, sans-serif; font-size: 40px; line-height: 1.3; }

.article__nav { overflow: hidden; }

.article__back { float: left; height: 38px; line-height: 38px; }
.article__back a { position: relative; padding-left: 18px; font-size: 11px; text-transform: uppercase; color: #888780; }
.article__back a:before { content: ""; position: absolute; top: 5px; left: 9px; background: url('../img/icons-s74d18a88fe.png') 0 -1510px no-repeat; width: 4px; height: 5px; }

.article__content { padding: 40px 100px 45px 100px; }
.article__content .h2 { margin-bottom: 15px; font-size: 26px; color: #4b412c; text-align: center; font-weight: normal; }
.article__content p { margin-bottom: 7px; font-size: 13px; color: #000; }
.article__content .txt2 { text-align: justify; }

.article__media { margin-bottom: 25px; text-align: center; font-size: 0; }
.article__media li { display: inline-block; width: 150px; padding: 0 10px 20px 10px; border-top: 1px solid #ccc8bb; border-bottom: 1px solid #ccc8bb; cursor: pointer; }
.article__media span { display: block; padding: 10px 0; text-align: center; font-family: 'Futuris', Arial, sans-serif; font-size: 14px; color: #4b412c; text-transform: uppercase; }
.article__media img { display: block; -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px; -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px; box-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px; }

.article__video i { position: relative; display: block; }
.article__video i:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -17px 0 0 -17px; background: url('../img/icons-s74d18a88fe.png') 0 -469px no-repeat; width: 33px; height: 33px; }

.related { margin-bottom: 40px; }
.related .h1 { padding: 0 0 5px 5px; font-family: 'Futuris', Arial, sans-serif; font-size: 26px; color: #000; text-transform: uppercase; }

.related__list ul { padding: 3px 5px 8px 5px; margin: -3px -30px 0 -10px; overflow: hidden; }
.related__list li { float: left; width: 300px; padding: 5px; margin-right: 19px; }
.related__list li:hover { padding: 4px 5px 5px 5px; margin-top: -2px; border-top: 3px solid #494033; -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 15px, rgba(0, 0, 0, 0.2) 0 -1px 4px; -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 15px, rgba(0, 0, 0, 0.2) 0 -1px 4px; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 15px, rgba(0, 0, 0, 0.2) 0 -1px 4px; }

.related__date { padding-top: 2px; margin-bottom: 8px; font-size: 12px; color: #888780; text-transform: uppercase; }
.related__date a { color: #888780; }

.related__pic img { display: block; }

.related__title { padding: 6px 0; }
.related__title a { font-size: 18px; text-transform: uppercase; color: #000; }

.related__desc { width: 300px; height: 63px; overflow: hidden; text-overflow: ellipsis; }
.related__desc p { font-size: 12px; color: #5b5b56; }

.collection { position: relative; padding: 20px; }

.collection__close { position: absolute; top: 4px; right: 4px; background: url('../img/icons-s74d18a88fe.png') 0 -1326px no-repeat; width: 12px; height: 12px; }

.collection__list { position: absolute; left: 0; white-space: nowrap; font-size: 0; }

.collection__wrap { position: relative; overflow: hidden; }

.collection__about { width: 310px; padding-right: 20px; }

.collection__about, .collection__pic { display: inline-block; white-space: normal; vertical-align: top; }

.collection__desc { margin: 0 0 40px 0; font-size: 12px; }
.collection__desc .h2 { margin-bottom: 15px; }
.collection__desc p { margin-bottom: 7px; text-align: justify; }

.collection__continue { font-size: 12px; text-align: right; }
.collection__continue a { position: relative; padding-right: 10px; color: #4b412c; text-decoration: underline; }
.collection__continue a:after { content: ""; position: absolute; top: 6px; right: 2px; background: url('../img/icons-s74d18a88fe.png') 0 -1467px no-repeat; width: 4px; height: 5px; }

.collection__video .h2 { margin-bottom: 5px; text-transform: uppercase; }
.collection__video a { position: relative; display: block; width: 305px; border: 2px solid #fff; -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px; -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px; box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px; }
.collection__video a:after { content: ""; position: absolute; top: 50%; left: 50%; margin: -29px 0 0 -29px; background: url('../img/icons-s74d18a88fe.png') 0 -210px no-repeat; width: 57px; height: 57px; }
.collection__video a img { display: block; }

.collection__pic { position: relative; margin-right: 10px; }
.collection__pic img { height: 100%; }
.collection__pic:last-child { margin-right: 0px; }
.collection__pic:hover .share_mod { display: block; }

.collection__info, .collection__detail { position: absolute; left: 20px; bottom: 20px; background: #f9f6e6; }

.collection__info { padding: 4px 15px 4px 5px; font-size: 12px; color: #888780; text-transform: uppercase; }
.collection__info:after { content: ""; position: absolute; top: 7px; right: 6px; background: url('../img/icons-s74d18a88fe.png') 0 -1467px no-repeat; width: 4px; height: 5px; }

.collection__message { display: none; text-align: center; }
.collection__message .h2 { margin-bottom: 10px; text-transform: uppercase; }
.collection__message p { text-align: left; margin-bottom: 10px; font-size: 12px; }

.collection__detail { display: none; width: 342px; padding: 10px; z-index: 10; }

.collection__form { display: none; padding-top: 10px; }
.collection__form .txt-area { height: 48px; }

.collection__detail-close { position: absolute; top: 5px; right: 5px; background: url('../img/icons-s74d18a88fe.png') 0 -1326px no-repeat; width: 12px; height: 12px; z-index: 10; }

.collection__price { position: relative; padding: 0 125px 0 5px; }
.collection__price span, .collection__price b { display: block; margin-top: 2px; font-size: 12px; }
.collection__price .btn { position: absolute; top: 50%; right: 0; margin-top: -10px; }

.collection__phone { overflow: hidden; }
.collection__phone input { float: right; width: 110px; }
.collection__phone span { float: left; width: 208px; padding-left: 5px; font-size: 11px; color: #888780; line-height: 1; }

.collection__send { margin-top: 15px; text-align: center; }

.collection__left, .collection__right { position: fixed; top: 50%; width: 20px; height: 70px; margin-top: -35px; z-index: 100; background: #f9f6e6; }
.collection__left i, .collection__right i { position: absolute; top: 50%; margin-top: -9px; }

.collection__left { display: none; left: 20px; }
.collection__left i { left: 0; background: url('../img/icons-s74d18a88fe.png') 0 -1130px no-repeat; width: 11px; height: 18px; }

.collection__right { right: 20px; }
.collection__right i { right: 0; background: url('../img/icons-s74d18a88fe.png') 0 -1102px no-repeat; width: 11px; height: 18px; }

.share_mod { display: none; position: absolute; right: 20px; bottom: 20px; margin: 0; }
.share_mod li { margin: 0 0 0 6px; }
.share_mod .share__fb { background: url('../img/icons-s74d18a88fe.png') 0 -1040px no-repeat; width: 19px; height: 21px; }
.share_mod .share__fb:hover { background: url('../img/icons-s74d18a88fe.png') 0 -714px no-repeat; width: 19px; height: 21px; }
.share_mod .share__fb:active { background: url('../img/icons-s74d18a88fe.png') 0 -1071px no-repeat; width: 19px; height: 21px; }
.share_mod .share__vk { background: url('../img/icons-s74d18a88fe.png') 0 -838px no-repeat; width: 19px; height: 21px; }
.share_mod .share__vk:hover { background: url('../img/icons-s74d18a88fe.png') 0 -683px no-repeat; width: 19px; height: 21px; }
.share_mod .share__vk:active { background: url('../img/icons-s74d18a88fe.png') 0 -900px no-repeat; width: 19px; height: 21px; }
.share_mod .share__tw { background: url('../img/icons-s74d18a88fe.png') 0 -776px no-repeat; width: 19px; height: 21px; }
.share_mod .share__tw:hover { background: url('../img/icons-s74d18a88fe.png') 0 -652px no-repeat; width: 19px; height: 21px; }
.share_mod .share__tw:active { background: url('../img/icons-s74d18a88fe.png') 0 -869px no-repeat; width: 19px; height: 21px; }

.sitemap { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM2MzEyYyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNGI0NDNkIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzYzMTJjIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #36312c), color-stop(50%, #4b443d), color-stop(100%, #36312c)); background-image: -webkit-linear-gradient(left, #36312c, #4b443d 50%, #36312c 100%); background-image: -moz-linear-gradient(left, #36312c, #4b443d 50%, #36312c 100%); background-image: -o-linear-gradient(left, #36312c, #4b443d 50%, #36312c 100%); background-image: linear-gradient(left, #36312c, #4b443d 50%, #36312c 100%); overflow: hidden; }

.sitemap__logo { height: 120px; text-align: center; font-size: 0; }
.sitemap__logo a { display: inline-block; background: url('../img/icons-s74d18a88fe.png') 0 0 no-repeat; width: 410px; height: 120px; }

.sitemap__list { padding-top: 20px; margin-right: -30px; }
.sitemap__list ul { float: left; width: 143px; margin-right: 20px; }
.sitemap__list li { position: relative; width: 143px; height: 104px; margin-bottom: 15px; overflow: hidden; }
.sitemap__list li:hover { overflow: visible; }
.sitemap__list li:first-child .sitemap__item span { font-size: 16px; }

.sitemap__item { position: absolute; top: -7px; left: -4px; border-top: 3px solid #4b412c; }
.sitemap__item img, .sitemap__item span, .sitemap__item a { display: block; }
.sitemap__item span { height: 24px; line-height: 24px; text-align: center; font-family: 'Futuris', Arial, sans-serif; font-size: 12px; color: #f9f6e6; }
.sitemap__item:hover { -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px; -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px; box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px; }
.sitemap__item:hover span { color: #000; background: #f9f6e6; }
