@import "lib/base";
@import "lib/animations";
@import "lib/keyframes";
//variables
$dark: #c3c2b7;
$light: #f9f6e6;
$brown: #4b412c;
$brown1: #8e8165;
$yellow: #e3dbb2;
$gray: #888780;
$gray1: #5b5b56;
$brd: #a09b90;
// gradients for ie
$experimental-support-for-svg: true;
// global sprites
$icons: sprite-map("icons/*.png", $spacing: 10px);
//extend
%block {
	
}		
//fonts
@font-face {
	font-family: 'Futuris';
	src: url('../fonts/Futuris-Cyrillic.woff');
}

