@import "base";
* { 
	margin:0; 
	padding:0; 
	//-webkit-text-size-adjust: none; 
}
html, body {
	height: 100%;
}
body {		
	background: $light;
	//-webkit-transform: translate3d(0,0,0);
	//-weblit-backface-visibility: hidden;
	font: {
	  family: Arial, Tahoma, sans-serif;
	  weight: normal;
	  size: 11px;
	}
}
// resets
header, footer, nav, section, aside {
	display: block;
}
a img, fieldset {
	border:none;
}
a {
	color: #37559a;
	text-decoration:none;
}
li {
	list-style: none;
}
input, textarea, button {
	border: none;
	outline: none;	
	font-family: Arial,sans-serif;
}
button {
	background: none;
	line-height: 1;
	cursor: pointer;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
// common styles
.h2 {
	font-family: 'Futuris', Arial, sans-serif;
	font-size: 18px;
}
.h3 {
	font-family: 'Futuris', Arial, sans-serif;
	font-size: 13px;
}
.clr {
	clear: both;
}
//hr
.hr {
	height: 2px;
	background: url(../img/icons/hr.png);
}
.hr_mod {
	background: url(../img/icons/hr1.png);
}
//btn
.btn {
	display: inline-block;
	height: 21px;
	padding: 0 10px;
	border: 1px solid $brown;
	background: none;
	@include box-shadow(rgba(0,0,0,0.2) 0 1px 3px);
	color: $brown;
	font-size: 11px;
	text-transform: uppercase;
	white-space: nowrap;
	cursor: pointer;
	&:hover {
		border-color: $brown1;
		color: $brown1;
	}
	&:active {
		border-color: $brown;
		background: $brown;
		color: #f9f6e6;
	}
}
//checkbox
.checkbox {
	position: relative;
	height: 18px;
	padding-left: 27px;
	margin-bottom: 15px;
	line-height: 18px;
	font-size: 11px;
	color: $gray;
	a {
		text-decoration: underline;
		color: $gray;
	}
	input[type="checkbox"], i {
		position: absolute;
		top: 0;
		left: 7px;
		width: 14px;
		height: 17px;
	}
	input[type="checkbox"] {
		z-index: 10;
		opacity: 0;
	}
	input[type="checkbox"]:checked + i  	{
		@include sized-sprite($icons, check1);
	}
	i {
		@include sized-sprite($icons, check);
	}
}
//wrap
.wrap {
	position: relative;
	margin-bottom: -20px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
//push
.push {
	height: 20px;
	clear: both;
}
//container
.container {
	width: 960px;
	margin: 0 auto;
}
//header
.header {
	position: relative;
	width: 100%;
	height: 70px;
	background: #36312c;
	@include background-image(linear-gradient(left, #36312c, #4b443d 50%,  #36312c 100%));
	@include box-shadow(rgba(0, 0, 0, 0.5) 0 0 2px);
	overflow: hidden;
	z-index: 150;
}
.header_mod {
	position: fixed;
}
.logo {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -130px;
	@include sized-sprite($icons, logo);
	a {
		display: block;
		width: 260px;
		height: 70px;
		@extend %hide-text;
	}
}
.nav-btn {
	position: absolute;
	top: 27px;
	left: 20px;
	padding-right: 8px;
	font-family: 'Futuris', Arial, sans-serif;
	font-size: 11px;
	color: $dark;
	text-transform: uppercase;
	text-decoration: underline;
	&:after {
		content: "";
		position: absolute;
		top: 3px;
		right: 0;
		@include sized-sprite($icons, arr);
	}
}
.nav-btn_open {
	&:after {
		@include sized-sprite($icons, arr1);
	}
}
//nav
.nav {
	position: relative;
	width: 100%;
	height: 31px;
	background: url(../img/icons/nav-bg.png);
	@include box-shadow(rgba(0,0,0,0.5) 0 0 2px);
	text-align: center;
	text-transform: uppercase;
	z-index: 100;
}
.nav__list {
	height: 31px;
	text-align: center;
	overflow: hidden;
	li {
		display: inline-block;		
		a {
			display: block;
			height: 31px;
			padding: 0 15px;
			line-height: 31px;
			font-family: 'Futuris', Arial, sans-serif;
			font-size: 14px;
			color: $dark;
			&:hover {
				color: $light;
			}
			&.active {
				background: $light;
				color: $brown;
				cursor: default;
			}
		}
	}
}
.nav_mod {
	display: none;
	position: fixed;
	top: 70px;
}
//languages
.lang {
	position: relative;
	float: left;	
	height: 31px;
	margin-left: 20px;
	font-family: 'Futuris', Arial, sans-serif;
	font-size: 11px;	
	color: $dark;	
}
.lang__title {
	float: left;
	height: 31px;
	line-height: 31px;
}
.lang__list {
	float: left;	
	padding: 10px 10px 0 10px;
	margin-left: -5px;
	span {
		position: relative;
		display: block;
		padding-bottom: 10px;
		text-decoration: underline;
		text-align: left;
		cursor: pointer;
		&:after {
			content: '';
			position: absolute;
			top: 3px;
			right: -7px;
			@include sized-sprite($icons, arr);
		}
		&.open {
			&:after {
				@include sized-sprite($icons, arr1);
			}
		}
	}
	ul {
		display: none;
	}
	li {
		margin-bottom: 10px;
		text-align: left;
		cursor: pointer;
	}
	&.open {
		background: $yellow;
		color: $brown;
		border: 1px solid $brown;
		span {
			text-decoration: none;
			cursor: default;
			&:after {
				display: none;
			}
		}
		li {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.nav__new {
	float: right;	
	height: 31px;
	line-height: 31px;
	padding: 0 15px;
	background: $yellow;
	font-family: 'Futuris', Arial, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #000;		
}
.nav__new_is {
	@include animation(flashing 2s linear infinite);
}
@include keyframes(flashing) {
	0% {
		background: #fff;
		color: #000;
	}	
	50% {
		background: #808080;
		color: #000;
	}
	100% {
		background: #fff;
		color: #000;
	}	
}
//footer
.footer {
	position: relative;
	width: 100%;
	height: 20px;
	background: url(../img/icons/nav-bg.png);
	@include box-shadow(rgba(0,0,0,0.5) 0 0 2px);
	z-index: 10;
	ul {
		text-align: center;
	}	
	li {
		display: inline-block;		
	}
	a, button {
		position: relative;
		display: block;
		height: 20px;
		padding-left: 20px;
		line-height: 22px;	
		font-family: 'Futuris', Arial, sans-serif;	
		font-size: 11px;
		color: $dark;
		text-transform: uppercase;
		&:hover {
			color: $light;
		}
	}
	i {
		position: absolute;
		top: 2px;
		left: 0;
	}
}
.footer__play {
	float: left;
	margin: 0 20px 0 8px;
	button {
		font-family: 'Futuris', Arial, sans-serif;
	}	
	i {
		top: 1px;
		@include sized-sprite($icons, play);
	}
	&:hover {
		i {
			@include sized-sprite($icons, play-h);
		}
	}
}
.footer__tw {
	margin: 0 10px;
	i {
		left: 2px;
		@include sized-sprite($icons, tw);
	}
	&:hover {
		i {
			@include sized-sprite($icons, tw-h);
		}
	}
}
.footer__fb {
	margin: 0 10px;
	i {
		@include sized-sprite($icons, fb);
	}
	&:hover {
		i {
			@include sized-sprite($icons, fb-h);
		}
	}
}
.footer__yt {
	margin: 0 10px;
	i {
		@include sized-sprite($icons, yt);
	}
	&:hover {
		i {
			@include sized-sprite($icons, yt-h);
		}
	}
}
.footer__sitemap {
	float: right;
	margin: 0 9px 0 20px;
	a {
		padding: 0 26px 0 0;
	}	
	i {
		left: auto;
		right: 0;
		@include sized-sprite($icons, sm);
	}
	&:hover {
		i {
			@include sized-sprite($icons, sm-h);
		}
	}
}
//share
.share {
	float: right;
	margin: 9px 6px 0 0;
	li {
		float: left;
		height: 21px;
		margin-right: 6px;
		line-height: 21px;
		font-size: 11px;
		text-transform: uppercase;
		color: $gray;
	}
	a {
		display: block;
	}
}
.share__fb {
	@include sized-sprite($icons, share-fb);
	&:hover {
		@include sized-sprite($icons, share-fb-h);
	}
	&:active {
		@include sized-sprite($icons, share-fb-a);
	}
}
.share__vk {
	@include sized-sprite($icons, share-vk);
	&:hover {
		@include sized-sprite($icons, share-vk-h);
	}
	&:active {
		@include sized-sprite($icons, share-vk-a);
	}
}
.share__tw {
	@include sized-sprite($icons, share-tw);
	&:hover {
		@include sized-sprite($icons, share-tw-h);
	}
	&:active {
		@include sized-sprite($icons, share-tw-a);
	}
}