@import "base";
/*styles for layouts*/
//2 cols
.columns {
	-webkit-column-width: 225px;
	-webkit-column-gap: 20px;
	-moz-column-width: 225px;
	-moz-column-gap: 20px;	
	column-count: 225px;
	column-gap: 20px;
	text-align: justify;
}
