@import "base";
/*styles for layouts*/
.cols {
	overflow: hidden;	
}
.col-1 {
	float: left;
	width: 225px;
}
.col-2 {
	float: right;
	width: 225px;
}
//2 cols
.txt2 {
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	-moz-column-count: 2;
	-moz-column-gap: 20px;	
	column-count: 2;
	column-gap: 20px;
}