@import "base";
//main styles
//slider
.cover {
	position: relative;
	li {
		float: left;
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0 0;
	}	
}
.cover__video {
	position: absolute;
	left: 100px;
	bottom: 70px;
	border: 2px solid #fff;
	@include box-shadow(rgba(0,0,0,0.4) 0 5px 10px);
	z-index: 10;
	img {
		display: block;
	}
	i {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -22px 0 0 -22px;
		@include sized-sprite($icons, play-gal);
	}
	@include respond-to(step1) {
		left: 50%;
		bottom: 25px;
		margin-left: -117px;
	}
}
.cover__detail {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	font-family: 'Futuris', Arial, sans-serif;
	@include respond-to(step1) {
		position: relative;
		top: 30px;
		left: 0;
		padding-bottom: 180px;
	}
}
.cover__detail_dark {
	color: $brown;
	.cover__title {
		&:before {
			@include sized-sprite($icons, ico3);
		}
	}
	.cover__made-title {
		span {
			&:before {
				@include sized-sprite($icons, ico4);
			}
			&:after {
				@include sized-sprite($icons, ico5);
			}
		}		
	}
}
.cover__detail_light {
	color: $light;
	.cover__title {
		&:before {
			@include sized-sprite($icons, ico);
		}
	}
	.cover__made-title {
		span {
			&:before {
				@include sized-sprite($icons, ico1);
			}
			&:after {
				@include sized-sprite($icons, ico2);
			}
		}		
	}
}
.cover__title, .cover__date {	
	font-size: 40px;
	text-transform: uppercase;
	@include respond-to(step1) {
		font-size: 30px;
	}
}
.cover__title {
	position: relative;
	padding-top: 33px;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -45px;
	}
}
.cover__date {
	margin-bottom: 27px;
	@include respond-to(step1) {
		margin-bottom: 17px;
	}
}
.cover__made-title {
	margin-bottom: 13px;
	span {
		position: relative;
		font-size: 14px;		
		&:before, &:after {
			content: "";
			position: absolute;
			top: 5px;
		}
		&:before {
			left: -24px;
		}
		&:after {
			right: -24px;
		}
		@include respond-to(step1) {
			font-size: 10px;
		}
	}
}
.cover__made-person {
	font-size: 18px;
	span {
		margin: 0 5px;
		font-size: 11px;
	}
	@include respond-to(step1) {
		font-size: 13px;
	}
}
